Repository kubernetes-csi/external-provisioner, pull requests merged in 2019-07, with the labels that each got.

#310 use volume ID for creating PVC from another PVC
  pkg/controller/controller.go
  pkg/controller/controller_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, size/M

#313 prow updates
  release-tools/build.make
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, kind/bug, kind/feature, lgtm, release-note-none, size/L

#312 Retry provisioning of volumes after transient error
  Gopkg.lock
  pkg/controller/controller.go
  pkg/controller/controller_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, release-note, size/L

#315 update release-tools
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/XS

#316 update release-tools
  release-tools/build.make
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/L

#317 update release-tools
  release-tools/build.make
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/L

#319 [1.2] Cherry pick: Retry provisioning of volumes after transient error
  Gopkg.lock
  pkg/controller/controller.go
  pkg/controller/controller_test.go
Labels: approved, cncf-cla: yes, lgtm, release-note, size/L

#318 [1.3] Cherry pick: Retry provisioning of volumes after transient error
  Gopkg.lock
  pkg/controller/controller.go
  pkg/controller/controller_test.go
Labels: approved, cncf-cla: yes, lgtm, release-note, size/L

#271 fix provision fail when volume size is unknown
  pkg/controller/controller.go
  pkg/controller/controller_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, size/M

#314 Remove redundant mount options test and fold into normal provisioner test
  pkg/controller/controller_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, size/M
