Repository kubernetes-csi/external-provisioner, pull requests merged in 2020-11, with the labels that each got.

#481 Update README
  README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, size/XS

#527 Update release tools
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, size/XS

#530 Update release tools2
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/M

#529 Update to snapshot v3client
  cmd/csi-provisioner/csi-provisioner.go
  go.mod
  go.sum
  pkg/controller/controller.go
  pkg/controller/controller_test.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v3/LICENSE
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v3/apis/volumesnapshot/v1beta1/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v3/apis/volumesnapshot/v1beta1/register.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v3/apis/volumesnapshot/v1beta1/types.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v3/apis/volumesnapshot/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v3/clientset/versioned/clientset.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v3/clientset/versioned/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v3/clientset/versioned/fake/clientset_generated.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v3/clientset/versioned/fake/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v3/clientset/versioned/fake/register.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v3/clientset/versioned/scheme/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v3/clientset/versioned/scheme/register.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v3/clientset/versioned/typed/volumesnapshot/v1beta1/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v3/clientset/versioned/typed/volumesnapshot/v1beta1/fake/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v3/clientset/versioned/typed/volumesnapshot/v1beta1/fake/fake_volumesnapshot.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v3/clientset/versioned/typed/volumesnapshot/v1beta1/fake/fake_volumesnapshot_client.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v3/clientset/versioned/typed/volumesnapshot/v1beta1/fake/fake_volumesnapshotclass.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v3/clientset/versioned/typed/volumesnapshot/v1beta1/fake/fake_volumesnapshotcontent.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v3/clientset/versioned/typed/volumesnapshot/v1beta1/generated_expansion.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v3/clientset/versioned/typed/volumesnapshot/v1beta1/volumesnapshot.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v3/clientset/versioned/typed/volumesnapshot/v1beta1/volumesnapshot_client.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v3/clientset/versioned/typed/volumesnapshot/v1beta1/volumesnapshotclass.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v3/clientset/versioned/typed/volumesnapshot/v1beta1/volumesnapshotcontent.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, release-note, size/M

#501 topology: also control for immediate binding
  README.md
  cmd/csi-provisioner/csi-provisioner.go
  pkg/controller/controller.go
  pkg/controller/controller_test.go
  pkg/controller/topology.go
  pkg/controller/topology_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, release-note, size/L
