Repository kubernetes-csi/external-provisioner, pull requests merged in 2021-11, with the labels that each got.

#677 release-2.2: update release-tools
  release-tools/README.md
  release-tools/SECURITY_CONTACTS
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/build.make
  release-tools/cloudbuild.yaml
  release-tools/prow.sh
Labels: cncf-cla: yes, approved, size/M, lgtm, release-note-none

#683 master: update release-tools
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
Labels: cncf-cla: yes, approved, size/M, lgtm, release-note-none

#679 external-provisioner changes to support PV Deletion protection finalizer
  README.md
  cmd/csi-provisioner/csi-provisioner.go
  go.mod
  go.sum
  pkg/capacity/provision.go
  pkg/controller/clone_controller.go
  pkg/controller/controller.go
  pkg/controller/controller_test.go
  pkg/features/features.go
  vendor/modules.txt
  vendor/sigs.k8s.io/sig-storage-lib-external-provisioner/v8/LICENSE
  vendor/sigs.k8s.io/sig-storage-lib-external-provisioner/v8/controller/controller.go
  vendor/sigs.k8s.io/sig-storage-lib-external-provisioner/v8/controller/doc.go
  vendor/sigs.k8s.io/sig-storage-lib-external-provisioner/v8/controller/metrics/doc.go
  vendor/sigs.k8s.io/sig-storage-lib-external-provisioner/v8/controller/metrics/metrics.go
  vendor/sigs.k8s.io/sig-storage-lib-external-provisioner/v8/controller/volume.go
  vendor/sigs.k8s.io/sig-storage-lib-external-provisioner/v8/controller/volume_store.go
  vendor/sigs.k8s.io/sig-storage-lib-external-provisioner/v8/util/doc.go
  vendor/sigs.k8s.io/sig-storage-lib-external-provisioner/v8/util/util.go
Labels: kind/feature, cncf-cla: yes, size/L, approved, lgtm, release-note, ok-to-test

#684 release-2.2: update release-tools
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
Labels: cncf-cla: yes, approved, size/M, lgtm, release-note-none

#685 release-3.0: update release-tools
  release-tools/README.md
  release-tools/SECURITY_CONTACTS
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/build.make
  release-tools/cloudbuild.yaml
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
Labels: cncf-cla: yes, size/L, approved, lgtm, release-note-none
