Repository kubernetes-csi/external-provisioner, pull requests merged in 2022-08, with the labels that each got.

#757 fix: kubernetes design proposal URL expired
  README.md
  doc/design.md
Labels: cncf-cla: yes, approved, size/XS, lgtm, kind/documentation, release-note, ok-to-test

#762 master: update release-tools
  release-tools/filter-junit.go
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
Labels: cncf-cla: yes, approved, size/M, lgtm, release-note-none

#764 release-3.0: update release-tools
  release-tools/filter-junit.go
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
Labels: cncf-cla: yes, approved, size/M, lgtm, release-note-none

#765 release-3.1: update release-tools
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/build.make
  release-tools/cloudbuild.yaml
  release-tools/filter-junit.go
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
  release-tools/verify-spelling.sh
Labels: cncf-cla: yes, size/L, approved, lgtm, release-note-none

#766 github: enable dependabot
  .github/dependabot.yaml
Labels: cncf-cla: yes, approved, kind/cleanup, lgtm, release-note-none, size/S

#775 Update release tools
  release-tools/prow.sh
Labels: cncf-cla: yes, approved, lgtm, release-note-none, size/S

#761 test: add codespell github workflow and templates for issues/RFEs.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/support.md
  .github/workflows/codespell.yml
  CHANGELOG/CHANGELOG-1.4.md
  pkg/capacity/provision.go
  pkg/controller/controller_test.go
  pkg/controller/topology_test.go
Labels: cncf-cla: yes, approved, size/M, lgtm, release-note-none
