Repository kubernetes-csi/external-provisioner, pull requests merged in 2022-11, with the labels that each got.

#812 release-3.1: update release-tools
  pkg/controller/controller.go
  pkg/controller/topology.go
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/prow.sh
Labels: cncf-cla: yes, size/L, approved, lgtm, release-note-none

#814 release-3.3: update release-tools
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/prow.sh
Labels: cncf-cla: yes, approved, size/M, lgtm, release-note-none

#810 master: update release-tools
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/prow.sh
Labels: cncf-cla: yes, approved, size/M, lgtm, release-note-none

#811 release-3.0: update release-tools
  pkg/controller/controller.go
  pkg/controller/topology.go
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/prow.sh
Labels: cncf-cla: yes, size/L, approved, lgtm, release-note-none

#813 release-3.2: update release-tools
  pkg/controller/controller.go
  pkg/controller/topology.go
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/filter-junit.go
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
Labels: cncf-cla: yes, size/L, approved, lgtm, release-note-none

#802 update sidecars to latest version
  deploy/kubernetes/storage-capacity.yaml
Labels: cncf-cla: yes, approved, size/XS, lgtm, release-note-none

#803 update module dependencies to latest version
  go.mod
  go.sum
  vendor/golang.org/x/text/AUTHORS
  vendor/golang.org/x/text/CONTRIBUTORS
  vendor/golang.org/x/text/unicode/bidi/core.go
  vendor/golang.org/x/text/unicode/norm/forminfo.go
  vendor/golang.org/x/text/unicode/norm/normalize.go
  vendor/golang.org/x/text/unicode/norm/tables13.0.0.go
  vendor/k8s.io/apimachinery/pkg/apis/meta/v1/micro_time_proto.go
  vendor/modules.txt
Labels: cncf-cla: yes, size/L, approved, lgtm, release-note-none

#816 remove `replace` directive from the go.mod file
  go.mod
  go.sum
  vendor/modules.txt
Labels: cncf-cla: yes, size/L, approved, lgtm, release-note-none
