Repository kubernetes-csi/external-provisioner, pull requests merged in 2023-10, with the labels that each got.

#949 chore: remove refs to deprecated io/ioutil
  pkg/controller/controller_test.go
Labels: cncf-cla: yes, approved, size/XS, lgtm, release-note-none, ok-to-test

#1050 Update release tools
  release-tools/prow.sh
Labels: cncf-cla: yes, approved, size/XS, lgtm, release-note-none

#1052 Add Back Groups for Github Dependencies
  .github/dependabot.yaml
Labels: cncf-cla: yes, approved, size/XS, kind/cleanup, lgtm, release-note-none

#1060 Add changelog for 3.6.1
  CHANGELOG/CHANGELOG-3.6.md
Labels: cncf-cla: yes, approved, lgtm, kind/documentation, release-note-none, size/S
